@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap');

.lab-name, .lab-slogan, .lab-reg{
    text-align: left;
}
.component{
    width: 100%;
    height: auto;
    border: solid 1px #d3d3d3;
    padding: 20px;
    border-radius: 5px;
    margin: 10px 0px;
}
.nomgn{
    margin: 0px;
}
.cmp-header{
    font-size: 15px;
    font-weight: 700;
    padding: 0px;
    border-bottom: solid 1px #f5f5f5
}
.nobdr{
    border: none;
    padding: 0px;
    margin: 0px;
}

.p-id{
    float: right;
}
.logo-top {
    width: 100%;
    height: auto;
    margin: 10px;
}
.header-address{
    background-color: rgb(0, 63, 158);
    color: white;
    text-align: center;
    width: 100%;
    padding: 5px 0px;
    border-radius: 5px;
}
.header-logo{
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
}
.qr {
    width: 100px;
    height: 100px;
    border: solid 1px #d3d3d3;
    border-radius: 5px;
    display: block;
    margin: auto;
}
.qr-img{
    display: block;
    margin: auto;
    padding: 5px;
}
.iso-logo{
    width: 80%; 
    display: block;
    margin: auto;
    padding: 5px;
    
}

.qr-url {
    width: 135px;
    word-wrap: break-word;
    font-size: 12px;
    display: block;
    margin: auto;
}

.page-title h2 {
    font-family: "Roboto", "Sans-serif";
    font-size: 30px;
    word-spacing: 2px;
    font-weight: 500;
    text-decoration: underline solid rgb(184, 184, 184);
    font-style: italic;
    font-variant: normal;
    text-transform: uppercase;
    text-align: center;
}
#b-ref{
    display: block;
}
/* Test Reports page Styling Starts Here */

.everify-cmnt{
    font-weight: 500;
    font-size: 15px;
}
.TestCmnts{
    font-weight: 400;
    font-size: 15px;
    font-style: italic;
}
.chainReaction{
    font-style: italic;
}
.DocList{
   width: 100%;
   height: auto; 
}
hr{
    width: 100%;
}
.copyright-footer{
    margin: auto;
}
.docCard{
    border-right: 1px solid #d5d5d5;

}
.reports-table td{
    padding: 5px;
}
.reports-table th{
    padding: 5px;
}
/* Span tag Just For Idea */
.jfi{
    color: red;
    font-style: italic;
}
.errImg{
width: 100%;
padding: 20px;
display: block;
margin: 0px auto;
border-radius: 10px;
}

@media print {
    
    /* To Print Exact Colors and Graphics */
    body {-webkit-print-color-adjust: exact;}

    #controlBox{
        display: none;
    }
    
    /* Page Print Setup */
    .container{
        margin: 10px;
        /* border: solid 1px #d3d3d3; */
        border-radius: 5px;
        display: block;
        margin: auto;
        padding: 20px 20px;
    }
    /* To Break Separate Reports into Pages */
    .f-br{
        page-break-after: always; 
    }
}
